<section class="sections-paddings" id="benefits-section">
  <div class="container">
    <h2 class="section-title">Benefits of working with me</h2>

    <!-- benefit cards -->

    <ul class="cards-benefits">
      <!-- Expertise -->

      <li class="item-benefits">
        <div class="icon-li">
          <svg class="icon-user" width="24" height="24">
            <use href="./img/sprite.svg#icon-user"></use>
          </svg>
        </div>

        <h3 class="title-benefits">Expertise</h3>

        <p class="text-benefits">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>

      <!-- Communication -->

      <li class="item-benefits">
        <div class="icon-li">
          <svg class="icon-chat-circle" width="24" height="24">
            <use href="./img/sprite.svg#icon-chat-circle"></use>
          </svg>
        </div>

        <h3 class="title-benefits">Communication</h3>

        <p class="text-benefits">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>

      <!-- Art -->

      <li class="item-benefits">
        <div class="icon-li">
          <svg class="icon-brush" width="24" height="24">
            <use href="./img/sprite.svg#icon-brush"></use>
          </svg>
        </div>

        <h3 class="title-benefits">Art</h3>

        <p class="text-benefits">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>

      <!-- Urgent execution -->

      <li class="item-benefits">
        <div class="icon-li">
          <svg class="icon-hourglass" width="24" height="24">
            <use href="./img/sprite.svg#icon-hourglass"></use>
          </svg>
        </div>

        <h3 class="title-benefits">Urgent execution</h3>

        <p class="text-benefits">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>

    <!-- order the project anchor link -->

    <a class="benefits-link" href="#work-together">Order the project</a>
  </div>
</section>
