<section class="sections-paddings faq" id="faq-section">
  <div class="container">
    <h2 class="section-title faq-title">FAQ</h2>

    <div class="faq-wrapper">
      <ul class="accordion-container">
        <li class="accordion-item ac" data-order="1">
          <button type="button" class="ac-trigger">
            What programming languages are most often used in your project?
            <span class="faq-icon-wrapper">
              <svg class="accordion-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="faq-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>

        <li class="accordion-item ac" data-order="2">
          <button type="button" class="ac-trigger">
            How can I contact you?
            <span class="faq-icon-wrapper">
              <svg class="accordion-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="faq-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>

        <li class="accordion-item ac" data-order="3">
          <button type="button" class="ac-trigger">
            What are the deadlines for the project?
            <span class="faq-icon-wrapper">
              <svg class="accordion-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="faq-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>

        <li class="accordion-item ac" data-order="4">
          <button type="button" class="ac-trigger">
            Do you provide advice or support?
            <span class="faq-icon-wrapper">
              <svg class="accordion-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="faq-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>

        <li class="accordion-item ac" data-order="5">
          <button type="button" class="ac-trigger">
            What payment methods do you accept?
            <span class="faq-icon-wrapper">
              <svg class="accordion-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="faq-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>

        <li class="accordion-item ac" data-order="6">
          <button type="button" class="ac-trigger">
            What does the process of developing a software product look like
            from idea to implementation?
            <span class="faq-icon-wrapper">
              <svg class="accordion-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="faq-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
