<footer class="footer-page" id="work-together">
  <div class="container footer-container">
    <h2 class="title-footer">
      <span class="title-wrap">
        <picture class="footer-picture">
          <source
            srcset="
              ./img/footer/webp/icon_footer@1.webp 1x,
              ./img/footer/webp/icon_footer@2.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/footer/icon_footer@1.png 1x,
              ./img/footer/icon_footer@2.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/footer/webp/icon_footer_mobile@1.webp 1x,
              ./img/footer/webp/icon_footer_mobile@2.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/footer/icon_footer_mobile@1.png 1x,
              ./img/footer/icon_footer_mobile@2.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="logo-footer-img"
            src="./img/footer/icon_footer_mobile@1.png"
            alt="Footer Icon"
            width="44"
            height="44"
            loading="lazy"
          />
        </picture>
        <span class="title-footer-inline">
          Let's <span class="work">work </span>
        </span>
      </span>
      <span class="title-footer-block">together</span>
    </h2>
    <form class="form-inf" id="form-inf">
      <div class="footer-form-email">
        <input
          class="footer-input-email"
          type="text"
          id="user-email"
          placeholder="clients@gmail.com"
          pattern="^\w+(.\w+)?@[a-zA-Z_]+?.[a-zA-Z]{2,3}$"
        />
        <div class="footer-input-message"></div>
      </div>
      <input
        class="footer-input-comment"
        id="user-comment"
        placeholder="comments"
      />
      <button class="btn-footer" type="submit" id="openModal">Send</button>
    </form>
    <ul class="footer-contacts-list">
      <li class="footer-item">
        <a
          class="footer-contacts-link footer-email"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="footer-item">
        <a class="footer-contacts-link footer-phone" href="tel:+3801111111111"
          >+380 111 11 11 11</a
        >
      </li>
    </ul>
  </div>
</footer>

<div id="footer-modal" class="modal">
  <div class="modal-content">
    <button class="close-btn" id="close-btn">
      <svg class="close-btn-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <h2 class="title-modal"></h2>
    <p class="text-modal"></p>
  </div>
</div>
