<section class="projects sections-paddings">
  <div class="container">
    <h2 class="section-title">Projects</h2>
    <div class="projects-slider swiper-projects">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-item swiper-slide">
          <div class="projects-content">
            <ul class="projects-tags">
              <li class="tag">
                <p>#react</p>
              </li>
              <li class="tag">
                <p>#js</p>
              </li>
              <li class="tag"><p>#node js</p></li>
              <li class="tag"><p>#git</p></li>
            </ul>
            <h3 class="projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/Vlad-Rzaiev/nexgen-portfolio-team-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="projects-images">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/projects1_tablet-desktop@1.png,
                  ./img/projects/projects1_tablet-desktop@2.png
                "
                type="img/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/projects1_tablet-desktop@1.png,
                  ./img/projects/projects1_tablet-desktop@2.png
                "
                type="img/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/projects1_mobile@1.png,
                  ./img/projects/projects1_mobile@2.png
                "
              />
              <img
                src="./img/projects/projects1_mobile@1.png"
                alt="projects-img"
                width="311"
              />
            </picture>
          </div>
        </li>

        <li class="projects-item swiper-slide">
          <div class="projects-content">
            <ul class="projects-tags">
              <li class="tag">
                <p>#react</p>
              </li>
              <li class="tag">
                <p>#js</p>
              </li>
              <li class="tag"><p>#node js</p></li>
              <li class="tag"><p>#git</p></li>
            </ul>
            <h3 class="projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/Vlad-Rzaiev/nexgen-portfolio-team-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="projects-images">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/projects2_tablet-desktop@1.png,
                  ./img/projects/projects2_tablet-desktop@2.png
                "
                type="img/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/projects2_tablet-desktop@1.png,
                  ./img/projects/projects2_tablet-desktop@2.png
                "
                type="img/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/projects2_mobile@1.png,
                  ./img/projects/projects2_mobile@2.png
                "
              />
              <img
                src="./img/projects/projects2_mobile@1.png"
                alt="projects-img"
                width="614"
              />
            </picture>
          </div>
        </li>

        <li class="projects-item swiper-slide">
          <div class="projects-content">
            <ul class="projects-tags">
              <li class="tag">
                <p>#react</p>
              </li>
              <li class="tag">
                <p>#js</p>
              </li>
              <li class="tag"><p>#node js</p></li>
              <li class="tag"><p>#git</p></li>
            </ul>
            <h3 class="projects-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/Vlad-Rzaiev/nexgen-portfolio-team-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="projects-images">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/projects3_tablet-desktop@1.png,
                  ./img/projects/projects3_tablet-desktop@2.png
                "
                type="img/png"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/projects3_tablet-desktop@1.png,
                  ./img/projects/projects3_tablet-desktop@2.png
                "
                type="img/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/projects3_mobile@1.png,
                  ./img/projects/projects3_mobile@2.png
                "
              />
              <img
                src="./img//projects/projects3_mobile@1.png"
                alt="projects-img"
                width="614"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>

    <div class="projects-navigation">
      <button class="projects-btn-prev" aria-label="Previous slide" disabled>
        <svg class="projects-svg" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="projects-btn-next" aria-label="Next slide">
        <svg class="projects-svg" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
