/* Benefits section mobile */

.cards-benefits {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
  margin-bottom: 50px;
}

.item-benefits {
  padding: 24px;
  border-radius: 20px;
  background-color: #242527;
}

.icon-li {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 10px;
  background-color: #c6e327;
}

.title-benefits {
  margin-top: 64px;
  font-size: 20px;
}

.text-benefits {
  margin-top: 8px;
  font-weight: 500;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-link:link,
.benefits-link:visited {
  display: block;
  text-wrap: nowrap;
  width: 187px;
  padding: 18px 36px;
  border-radius: 60px;
  border: solid 1px rgba(250, 250, 250, 0.2);
}

.benefits-link:hover,
.benefits-link:focus {
  border: 2px solid #fafafa;
}

/* Benefits section tablet */

@media only screen and (min-width: 768px) {
  .cards-benefits {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 82px;
  }

  .item-benefits {
    width: calc((100% - 16px) / 2);
  }
}

/* Benefits section desktop */
@media only screen and (min-width: 1440px) {
  .cards-benefits {
    margin-top: -24px;
    margin-left: 696px;
  }

  .benefits-link:link,
  .benefits-link:visited {
    margin-left: 696px;
  }
}
