:root {
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #4ed728;
  --main-text: #fafafa;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  background-image: url(../img/elements.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px 32px 196px;
}

.left-section {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.logo-footer {
  background: url(../img/footer/icon_footer@1.png) no-repeat;
  background-size: cover;
  border-radius: 24px;
  width: 70px;
  height: 70px;
}

.title-footer {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
  margin-bottom: 32px;
}

.work {
  color: #4ed728;
}

.form-row {
  display: flex;
  margin-bottom: 78px;
  gap: 32px;
}

.form-inf {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.input-form-email,
.form-input {
  background: transparent;
  width: 100%;
  max-width: 390px;
  height: 44px;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

/* Контакти */
.footer-contacts-list {
  display: flex;
  gap: 16px;
}

.footer-contacts-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  text-decoration: none;
}

.footer-contacts-link:hover {
  border-color: var(--main-text);
}

/* Права секція з кнопкою */
.right-section {
  display: flex;
  margin-left: 16px;
  margin-top: 144px;
}


.btn-footer {
  border-radius: 100%;
  background-color: var(--button-text);
  width: 150px;
  height: 150px;
  color: var(--main-text);
  border: none;
  font-size: 18px;
  cursor: pointer;
  align-items: center;

}

.btn-footer:hover {
  background-color: #4ec12e;
}

.modal {
  display: none;
}

@media screen and (min-width: 320px) {

  .footer-container {
    align-items: flex-start;
    padding: 96px 16px 32px;
    flex-direction: column;
  }

  .logo-footer {
    border-radius: 12px;
    padding: 10px;
    width: 44px;
    height: 44px;
  }

  .title-footer {
    font-size: 40px;
  }

  .right-section {
    display: flex;
    margin: 0px;
    padding: 0px;
  }

  .form-section {
    flex-direction: column;
  }

  .footer-item {
    display: flex;
    white-space: nowrap;
    gap: 8px;
  }

  .form-row {
    flex-direction: column;
    gap: 16px;
    width: 343px;
    height: 44px;
  }

  .btn-footer {
    width: 100px;
    height: 100px;
    margin-left: 16px;
    margin-bottom: 64px;
  }

  .ft-email {
    padding: 10px 12px;
    width: 178px;
    height: 37px;
    font-size: 14px;
  }

  .ft-phone {
    padding: 10px 12px;
    width: 118px;
    height: 37px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .form-row {
    flex-direction: row;
  }

  .title-footer {
    font-size: 64px;
  }

  .logo-footer {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }

  .btn-footer {
    width: 150px;
    height: 150px;
    margin-left: 32px;
  }
.ft-email {
width: 239px;
  height: 55px;
  padding: 18px 32px;
}
.ft-phone {
  width: 171px;
    height: 55px;
    padding: 18px 32px;
}
}