:root {
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #c6e327;
  --main-text: #fafafa;
}
.footer-page {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  height: 100vh;
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/footer/elements.png);
}
.footer-container {
  align-items: flex-start;
  flex-direction: column;
}
.profile {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 63px;
}
.footer-picture {
  display: flex;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  margin-right: 8px;
}
.title-footer,
.footer-title-part2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}
.work {
  color: #c6e327;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.footer-input-email,
.footer-input-comment {
  background: transparent;
  width: 100%;
  max-width: 390px;
  width: 343px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-input-email,
.footer-input-comment:focus:active {
  color: var(--main-text);
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.btn-footer {
  border-radius: 100%;
  background-color: var(--button-text);
  width: 100px;
  height: 100px;
  color: var(--main-text);
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 64px;
}
.btn-footer:hover {
  background-color: #4ec12e;
}
/* Стиль для валідного вводу */
.footer-input-email:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

/* Стиль для невалідного вводу */
.footer-input-email:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

/* Повідомлення для валідного вводу */
.footer-input-email:not(:placeholder-shown):valid
  + .footer-input-message::after {
  content: 'Succes!';
  color: #3cbc81;
  font-size: 14px;
  display: block;
}

/* Повідомлення для невалідного вводу */
.footer-input-email:not(:placeholder-shown):invalid
  + .footer-input-message::after {
  content: 'Invalid email, try again';
  color: #e74a3b;
  font-size: 14px;
  display: block;
}
.footer-input-message {
  margin-top: 4px;
}
/* Контакти */
.footer-contacts-list {
  display: flex;
  gap: 16px;
}

.footer-contacts-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--main-text);
  text-decoration: none;
  padding: 10px 12px;
  font-size: 14px;
}
.footer-email {
  width: 178px;
  height: 37px;
  font-size: 14px;
}

.footer-phone {
  width: 118px;
  height: 37px;
  font-size: 14px;
}
.footer-item {
  display: flex;
  white-space: nowrap;
  gap: 8px;
}
.footer-contacts-link:hover {
  border-color: var(--main-text);
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(15, 15, 16, 0.6);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-content {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
  position: fixed;
  background: var(--background);
  justify-content: center;
}
.title-modal {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-text);
  margin-bottom: 16px;
  white-space: wrap;
}
.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer-page {
    padding: 64px 0;
  }
  .profile {
    padding-top: 80px;
    margin-bottom: 64px;
  }
  .title-footer,
  .footer-title-part2 {
    font-size: 64px;
  }
  .footer-picture {
    display: flex;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 24px;
    margin-right: 20px;
  }
  .logo-footer-img {
    width: 70px;
    height: 70px;
  }
  .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 78px;
    gap: 32px;
  }

  .footer-input-email,
  .footer-input-comment {
    width: 245px;
    height: 44px;
  }
  .btn-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    top: auto;
    width: 150px;
    height: 150px;
  }
  .contacts-link {
    padding: 18px 32px;
    font-size: 16px;
  }

  .footer-email {
    width: 239px;
    height: 55px;
  }
  .footer-phone {
    width: 171px;
    height: 55px;
  }
  .footer-email,
  .footer-phone {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    padding: 64px;
    width: 492px;
    height: 246px;
  }
  .title-modal {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1440px) {
  .footer-input-email,
  .footer-input-comment {
    width: 390px;
    height: 44px;
  }
  
}
