.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  padding-top: 32px;
  transition: top 0.3s ease;
}
/* PLASHKA */
.header-fixed {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 288px;
  max-width: 375px;
  padding-top: 8px;
  border-radius: 16px;
  backdrop-filter: blur(47.900001525878906px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transition: background-color 0.3s ease, padding-top 0.3s ease;
  margin: 0 auto;
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
}

.logo-container {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: none;
}
.burger {
  stroke: #fafafa;
  flex-shrink: 0;
}

.order-project {
  display: none;
}
/* MOBIL */
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
  }
  .logo-container {
    margin-bottom: 5px;
  }
}
/* TABLE */
@media only screen and (min-width: 768px) {
  .header {
    position: fixed;
  }
  .header-fixed {
    max-width: 768px;
    position: fixed;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    border: none;
    font-weight: 500;
    color: #fafafa;
    background-color: transparent;
    text-decoration: underline;
    transition: color 450ms ease;
  }

  .menu:hover,
  .menu:focus {
    color: #c6e327;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 450ms ease, visibility 450ms ease;
  }

  .menu-list.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 450ms ease;
  }

  .menu-button {
    display: none;
  }

  .menu-item {
    font-weight: 500;
    font-size: 16px;
    transition: color 450ms ease;
  }

  .menu-item:hover,
  .menu-item:focus {
    color: #c6e327;
  }
  .menu-list li:last-child {
    margin-bottom: 10px;
  }
  .logo-container {
    margin-top: 20px;
  }
  .order-project {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    border-radius: 60px;
    background-color: #c6e327;
    padding: 18px 24px;
    max-width: 163px;
    height: 55px;
    font-weight: 500;
    margin-top: 25px;
    font-size: 16px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 450ms ease;
  }

  .order-project:hover,
  .order-project:focus {
    background-color: #c7e327c5;
  }
}
@media only screen and (min-width: 1440px) {
  .header-fixed {
    max-width: 1440px;
  }
}
