/* HERO MOBILE */

.hero {
  background-image: url(/img/hero/hero_mobile@1.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 281px;
  padding-bottom: 32px;
}

.hero-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  opacity: 1;
  color: #fafafa;
  text-transform: uppercase;
  margin-bottom: 212px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/img/hero/hero_mobile@2.png);
  }
}

.hero-social-links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  row-gap: 8px;
  list-style: none;
}

.hero-social-links-item {
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 60px;
  border: 1px solid #fafafa;
  width: 37px;
  height: 37px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-links-icon {
  color: #fafafa;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-decoration: none;
  font-weight: 500;
}

.hero-social-links-item:hover,
.hero-social-links-item:focus {
  border: 2px solid #fafafa;
}

.hero-social-email {
  width: 178px;
}

/* HERO TABLET */

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/img/hero/hero_tablet@1.png);
    padding-top: 300px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(/img/hero/hero_tablet@2.png);
    }
  }

  .hero-title {
    font-size: 90px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 187px;
  }

  .hero-social-links-list {
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 8px;
  }

  .hero-social-links-item {
    width: 55px;
    height: 55px;
  }

  .hero-social-email {
    width: 223px;
  }
}

/* HERO DESKTOP */

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(/img/hero/hero@1.png);
  }

  .hero-container {
    padding-left: 178px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(/img/hero/hero@2.png);
    }
  }

  .hero-title {
    margin-bottom: 243px;
  }
}
